.table-image td th {
    vertical-align: middle !important;
}
td{
    vertical-align: middle !important;
}
th{
    vertical-align: middle !important;
}
.middle
{
    vertical-align: middle !important;
}

.display-ctl{
    display: flex;

}