{% extends 'template.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="display-ctl">
        <div class="btn-ctl"><a href="/participants">List des Participants</a></div>
        <div class="btn-ctl"><a href="/ListEpreuve">List event</a></div>

    </div>
{% endblock %}
