{% extends 'template.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="csv">

        <button type="submit">ok</button>
    </form>

    <!--
</div>
<div class="form-group col-md-6">
    <label for="inputPassword4">Prenom</label>
    <input type="text" class="form-control" id="prenom" placeholder="Prenom">
</div>
<div class="form-group col-md-6">
    <label for="inputPassword4">Date de naissance</label>
    <input type="date" class="form-control" id="birth" placeholder="Date de naissance">
</div>
<div class="form-group col-md-6">
    <label for="inputEmail4">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
</div>
</div>
<div class="form-row">
    <div class="form-row">
        <div class="form-group col-md-10">
            <label for="inputCate">Catégorie</label>
            <select id="inputCate" class="form-control">
                <option selected>Choose...</option>
                <option value="1">M1</option>
                <option value="2">M2</option>
                <option value="3">M3</option>
                <option value="4">Senior</option>
                <option value="5">V</option>
                <option value="6">Snow</option>
                <option value="7">Nouvelle Glisse</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10">
            <label for="inputProf">Profil</label>
            <select id="inputProf" class="form-control">
                <option selected>Choose...</option>
                <option value="1">ASVP : ex-pervenches</option>
                <option value="2">Open: conjoints et/ou enfants</option>
                <option value="3">Gardes-champêtres</option>
            </select>
        </div>
    </div>-->
{% endblock %}
